 <!-- form handling -->
 <form action="/admin/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="userName" class="text-light">User Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="userName" value="" placeholder="Mark Stoenis">
        </div>

        <div class="form-group">
            <label for="firstName" class="text-light">First Name</label>
            <input type="text" name="firstName" value="" placeholder="Mark">
        </div>

        <div class="form-group">
            <label for="lastName" class="text-light">Last Name</label>
            <input type="text" name="lastName" value="" placeholder="Stoenis">
        </div>
        
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>

        <div class="form-group">
            <label for="phone" class="text-light">Phone</label>
            <input type="text" name="phone" value="" placeholder="3123123123">
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male">
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female">
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active">
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive">
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>