<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.userName %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/users/prediction" class="btn btn-primary">Make Prediction</a>

<!-- include header -->
<%- include('include/_footer') %>
<!-- /include header -->